// 公共样式  560 * 2  ../image/common/
.header_ {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  z-index: 11111;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  .top-wra {
    width: 100%;
    height: 50px;
    background: #121a2c;
    .top {
      width: 1120px;
      margin: 0 auto;
      font-size: 0;
      .title {
        display: inline-block;
        width: 50%;
        height: 50px;
        line-height: 50px;
        font-size: 14px;
        color: rgba(235,235,235,1);
        vertical-align: top;
      }
      .contact {
        display: inline-block;
        width: 50%;
        height: 42px;
        padding-top: 8px;
        text-align: right;
        font-size: 0;
        .contact-icon {
          display: inline-block;
          width: 30px;
          height: 34px;
          background: url(../image/common/icon-cus.png) no-repeat center;
          vertical-align: top;
        }
        .text {
          display: inline-block;
          height: 34px;
          line-height: 34px;
          padding-left: 4px;
          font-size: 16px;
          color: rgba(214,12,12,1);
          vertical-align: top;
        }
        .line {
          display: inline-block;
          width: 2px;
          height: 34px;
          margin: 0 20px;
          background: #1890ff;
          vertical-align: top;
        }
        .icon-back {
          display: inline-block;
          width: 22px;
          height: 34px;
          background: url(../image/common/icon-back.png) no-repeat center;
        }
      }
    }
  }
  .nav-wra {
    width: 100%;
    .nav {
      width: 1120px;
      margin: 0 auto;
      height: 80px;
      font-size: 0;
      .nav-icon {
        display: inline-block;
        width: 168px;
        height: 80px;
        background: url(../image/common/icon-log.png) no-repeat center;
        vertical-align: top;
        cursor: pointer;
      }
      .list {
        display: inline-block;
        width: 952px;
        height: 80px;
        padding-left: 68px;
        font-size: 0;
        .home-icon {
          display: inline-block;
          width: 24px;
          height: 80px;
          background: url(../image/common/icon-home-page.png) no-repeat center;
          vertical-align: top;
          cursor: pointer;
          &:hover {
            background: url(../image/common/icon-home-page-active.png) no-repeat center;
          }
        }
        .items {
          display: inline-block;
          width: 860px;
          font-size: 0;
          .item {
            display: inline-block;
            height: 80px;
            padding-left: 39px;
            .link {
              display: block;
              height: 80px;
              line-height: 80px;
              color: #333333;
              font-size: 16px;
              font-weight: 500;
              border-bottom: 2px solid #fff;
              &:hover {
                color: #D80909;
                border-bottom: 2px solid #D80909;
              }
            }
          }
          .active {
            .link {
              color: #D80909;
              border-bottom: 2px solid #D80909;
            }
          }
        }
      }
    }
  }
}
.header_seize_ {
  width: 100%;
  height: 130px;
}
.footer_ {
  width: 100%;
  background: #333E42;
  .foot-content {
    width: 1120px;
    margin: 0 auto;
    padding: 18px 0;
    .info {
      width: 100%;
      font-size: 0;
      .item {
        display: inline-block;
        width: 33.3%;
        height: 225px;
        vertical-align: top;
        .title {
          height: 30px;
          line-height: 30px;
          font-size: 18px;
          color: #fff;
          font-weight: 300;
        }
      }
      .item + .item {
        padding-left: 20px;
        border-left: 1px solid #fff;
      }
      .online {
        .wra {
          width: 100%;
          padding-top: 8px;
          font-size: 0;
          .safe-icon {
            display: inline-block;
            width: 172px;
            height: 172px;
            background: url(../image/common/end1.jpg) no-repeat center;
            vertical-align: top;
          }
          .online-desc {
            display: inline-block;
            padding-top: 12px;
            padding-left: 8px;
            .online-link {
              display: block;
              height: 36px;
              line-height: 36px;
              font-size: 16px;
              color: #fff;
              &:hover {
                color: #f00;
              }
            }
          }
        }
      }
      .related {
        .title {
          margin-bottom: 10px;
        }
        .related-link {
          display: block;
          height: 32px;
          line-height: 32px;
          font-size: 14px;
          color: #fff;
          &:hover {
            color: #f00;
          }
        }
      }
      .trip {
        .trip-icon {
          display: block;
          width: 100%;
          height: 52px;
          background: url(../image/common/end2.jpg) no-repeat top;
          background-size: 100%;
        }
        .trip-link {
          display: block;
          line-height: 18px;
          color: #fff;
          font-size: 14px;
          &:hover {
            color: #f00;
          }
        }
        .trip-title {
          padding-top: 4px;
          line-height: 24px;
          font-size: 18px;
          color: #fff;
        }
        .trip-link2 {
          display: block;
          line-height: 24px;
          color: #fff;
          font-size: 14px;
          &:hover {
            color: #f00;
          }
        }
      }
    }
    .hot-city {
      width: 100%;
      padding: 20px 0 30px 0;
      border-bottom: 1px rgb(68,82,87) solid;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      a {
        color: #fff;
        font-size: 16px;
        word-spacing: 1px;
        letter-spacing: 1px;
        &:hover {
          color: #f00;
        }
      }
    }
    .pay-by {
      width: 100%;
      padding: 30px 0;
      border-bottom: 1px rgb(68,82,87) solid;
      font-size: 0;
      a {
        display: inline-block;
         div {
           display: inline-block;
           width: 120px;
           height: 86px;
         }
         .img3 {
           background: url(../image/common/end3.png) no-repeat center;
         }
         .img4 {
           background: url(../image/common/end4.png) no-repeat center;
         }
         .img5 {
           background: url(../image/common/end5.png) no-repeat center;
         }
         .img6 {
           background: url(../image/common/end6.png) no-repeat center;
         }
         .img7 {
           background: url(../image/common/end7.png) no-repeat center;
         }
         .img8 {
           background: url(../image/common/end8.png) no-repeat center;
         }
         .img9 {
           background: url(../image/common/end9.jpg) no-repeat center;
         }
      }
      a + a {
        padding-left: 46.66px;
      }
    }
    .links {
      width: 100%;
      padding: 20px 0 14px 0;
      text-align: center;
      color: rgb(204,204,204);
      a {
        font-size: 14px;
        color: rgb(204,204,204);
        &:hover {
          color: #f00;
        }
      }
    }
    .reserved {
      width: 100%;
      // padding-bottom: 10px;
      text-align: center;
      font-size: 12px;
      color: rgb(204,204,204);
    }
  }
}
.customer_ {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 111;
  .cus-link {
    display: block;
    width: 96px;
    height: 132px;
    .cus-wra {
      width: 96px;
      height: 96px;
      background: #ad0000;
      .cus-icon {
        display: block;
        width: 96px;
        height: 96px;
        background: url(../image/common/china_taxi2.jpg) no-repeat center;
      }
    }
    .line {
      display: block;
      width: 100%;
      height: 2px;
      background: transparent;
    }
    .text {
      display: block;
      width: 100%;
      height: 34px;
      line-height: 34px;
      text-align: center;
      font-size: 14px;
      color: #fff;
      background: #ad0000;
    }
  }
}
.loading {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11111;
  background: rgba(0, 0, 0, 0.35);
  .image {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    z-index: 11111;
  }
}

.wait-loading{
	display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(200,200,200,0.9);
}
.wait-loading-wrapper{
	position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9999;
  display: block;
  width: 500px;
  height: 100px;
  margin-left: -250px;
  margin-top: -50px;
}
.wait-loading-txt{
	width: 100%;
	height: 80px;
	line-height: 80px;
	text-align: center;
	font-size: 24px;
	color: #333;
}
.wait-loading-item{
	display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
	margin-left: 22px;
  background: #007DB6;
  border-radius: 10px;
  -webkit-animation: loading 1s infinite alternate;
          animation: loading 1s infinite alternate;
}
.wait-loading-item:nth-of-type(2) {
  background: #008FB2;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.wait-loading-item:nth-of-type(3) {
  background: #009B9E;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.wait-loading-item:nth-of-type(4) {
  background: #00A77D;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.wait-loading-item:nth-of-type(5) {
  background: #00B247;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.wait-loading-item:nth-of-type(6) {
  background: #5AB027;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.wait-loading-item:nth-of-type(7) {
  background: #A0B61E;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}
.wait-loading-item:nth-of-type(8) {
  background: #A0C61E;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}
.wait-loading-item:nth-of-type(9) {
  background: #A0D61E;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}
.wait-loading-item:nth-of-type(10) {
  background: #A0E61E;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}
.wait-loading-item:nth-of-type(11) {
  background: #A0F61E;
  -webkit-animation-delay: 2.0s;
          animation-delay: 2.0s;
}
.wait-loading-item:nth-of-type(12) {
  background: #B0D61E;
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}
@-webkit-keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
