.banner_ {
  position: relative;
  width: 100%;
  height: 540px; }
  .banner_ .banner-wra .image {
    display: block;
    width: 100%;
    height: 540px; }
  .banner_ .train {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    width: 1120px;
    height: 540px;
    padding-top: 76px;
    margin-left: -560px;
    font-size: 0; }
    .banner_ .train .search {
      display: inline-block;
      width: 774px;
      border-radius: 6px;
      overflow: hidden; }
      .banner_ .train .search .search-title {
        height: 66px;
        line-height: 66px;
        text-align: center;
        font-size: 20px;
        color: #333333;
        font-weight: 500;
        background: #EFEFEF; }
      .banner_ .train .search .search-content {
        width: 100%;
        background: #fff; }
        .banner_ .train .search .search-content .book {
          padding: 32px 60px 20px 40px; }
          .banner_ .train .search .search-content .book .trips {
            width: 100%; }
            .banner_ .train .search .search-content .book .trips .trip {
              font-size: 0;
              padding-bottom: 14px; }
              .banner_ .train .search .search-content .book .trips .trip .name {
                display: inline-block;
                height: 46px;
                padding-right: 20px;
                line-height: 46px;
                font-size: 18px;
                color: #000;
                font-weight: 500; }
              .banner_ .train .search .search-content .book .trips .trip .trip-from-wra, .banner_ .train .search .search-content .book .trips .trip .trip-to-wra {
                position: relative;
                display: inline-block;
                width: 198px;
                height: 46px; }
                .banner_ .train .search .search-content .book .trips .trip .trip-from-wra .trip-from, .banner_ .train .search .search-content .book .trips .trip .trip-from-wra .trip-to, .banner_ .train .search .search-content .book .trips .trip .trip-to-wra .trip-from, .banner_ .train .search .search-content .book .trips .trip .trip-to-wra .trip-to {
                  display: block;
                  width: 100%;
                  height: 46px;
                  border: 1px solid #AAAAAA;
                  font-size: 16px;
                  color: #333333;
                  text-indent: 1em; }
                .banner_ .train .search .search-content .book .trips .trip .trip-from-wra:after, .banner_ .train .search .search-content .book .trips .trip .trip-to-wra:after {
                  position: absolute;
                  top: 18px;
                  right: 10px;
                  z-index: 111;
                  content: '';
                  display: block;
                  width: 0;
                  height: 0;
                  border-top: 8px solid #AAAAAA;
                  border-left: 6px solid transparent;
                  border-right: 6px solid transparent; }
              .banner_ .train .search .search-content .book .trips .trip .trip-time-wra {
                position: relative;
                display: inline-block;
                width: 190px;
                height: 46px;
                padding-left: 16px; }
                .banner_ .train .search .search-content .book .trips .trip .trip-time-wra .trip-time {
                  display: block;
                  width: 190px;
                  height: 46px;
                  border: 1px solid #AAAAAA;
                  font-size: 16px;
                  color: #333333;
                  text-indent: 1em; }
                .banner_ .train .search .search-content .book .trips .trip .trip-time-wra:after {
                  position: absolute;
                  top: 6px;
                  right: -14px;
                  z-index: 111;
                  content: '';
                  display: block;
                  width: 32px;
                  height: 32px;
                  background: url(../image/icon-date.png) no-repeat center; }
          .banner_ .train .search .search-content .book .operation {
            width: 100%;
            font-size: 0;
            padding: 10px 0;
            text-align: right; }
            .banner_ .train .search .search-content .book .operation .trip-add {
              display: inline-block;
              height: 40px;
              line-height: 38px;
              padding: 0 20px;
              font-size: 16px;
              color: #fff;
              background: #1890FF;
              border: 1px solid #1890FF;
              margin-right: 16px;
              margin-top: 4px;
              vertical-align: top; }
            .banner_ .train .search .search-content .book .operation .trip-del {
              display: inline-block;
              height: 40px;
              line-height: 38px;
              padding: 0 20px;
              font-size: 16px;
              color: #333;
              background: #fff;
              border: 1px solid #aaa;
              margin-right: 16px;
              margin-top: 4px;
              vertical-align: top; }
            .banner_ .train .search .search-content .book .operation .disable {
              background: #EEEEEE;
              color: #999999;
              border: 1px solid #EEEEEE;
              cursor: not-allowed; }
            .banner_ .train .search .search-content .book .operation .trip-search {
              display: inline-block;
              height: 48px;
              line-height: 48px;
              padding: 0 28px;
              font-size: 16px;
              color: #fff;
              background: linear-gradient(87deg, #ef1212, #c00909);
              border-radius: 24px; }
              .banner_ .train .search .search-content .book .operation .trip-search .find-icon {
                display: inline-block;
                width: 24px;
                height: 48px;
                background: url(../image/icon-search.png) no-repeat center;
                margin-left: 12px;
                vertical-align: top; }
      .banner_ .train .search .check-wra {
        display: block;
        width: 100%;
        padding: 0 60px 0 40px;
        text-align: right;
        background: #fff; }
      .banner_ .train .search .check {
        display: block;
        width: 100%;
        height: 80px;
        line-height: 80px;
        font-size: 18px;
        color: #333;
        font-weight: 500;
        border-top: 1px solid #AAAAAA; }
        .banner_ .train .search .check:hover {
          color: #f00; }

.hotCity_ {
  width: 100%;
  background: #F1EEEE; }
  .hotCity_ .hotCity-wra {
    width: 1120px;
    padding: 14px 0 80px 0;
    margin: 0 auto; }
    .hotCity_ .hotCity-wra .title {
      padding: 26px 0 34px 0;
      font-size: 30px;
      color: #333333;
      font-weight: 500; }
    .hotCity_ .hotCity-wra .citys {
      width: 100%;
      padding-bottom: 46px;
      font-size: 0; }
      .hotCity_ .hotCity-wra .citys .item {
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 36px;
        border: 1px solid #BDBDBD;
        background: transparent;
        font-size: 16px;
        color: #333333;
        margin-right: 14px;
        border-radius: 14px;
        cursor: pointer; }
        .hotCity_ .hotCity-wra .citys .item:hover {
          color: #fff;
          background: #D90A0A;
          border: 1px solid #D90A0A; }
      .hotCity_ .hotCity-wra .citys .active {
        color: #fff;
        background: #D90A0A;
        border: 1px solid #D90A0A; }
    .hotCity_ .hotCity-wra .flights {
      width: 100%;
      font-size: 0; }
      .hotCity_ .hotCity-wra .flights .item {
        display: inline-block;
        width: 270px;
        height: 110px;
        margin-bottom: 26px;
        margin-left: 13px;
        padding: 22px 24px;
        background: white;
        border: 1px solid #ededed;
        box-shadow: 0px 1px 6px 0px rgba(93, 93, 93, 0.18);
        border-radius: 6px;
        font-size: 0;
        cursor: pointer; }
        .hotCity_ .hotCity-wra .flights .item:hover {
          background: #efefef; }
        .hotCity_ .hotCity-wra .flights .item .icon-flight {
          display: inline-block;
          width: 58px;
          height: 100%;
          background: pink;
          vertical-align: top; }
        .hotCity_ .hotCity-wra .flights .item .cont {
          display: inline-block; }
          .hotCity_ .hotCity-wra .flights .item .cont .info {
            padding-bottom: 30px;
            line-height: 18px;
            font-size: 18px;
            color: #333333; }
          .hotCity_ .hotCity-wra .flights .item .cont .desc {
            font-size: 0; }
            .hotCity_ .hotCity-wra .flights .item .cont .desc .time {
              display: inline-block;
              width: 50%;
              height: 20px;
              line-height: 20px;
              font-size: 18px;
              color: #333333; }
            .hotCity_ .hotCity-wra .flights .item .cont .desc .price {
              display: inline-block;
              width: 50%;
              height: 20px;
              line-height: 20px;
              font-size: 16px;
              color: #333333;
              text-align: right; }
              .hotCity_ .hotCity-wra .flights .item .cont .desc .price .num {
                color: #D90909;
                font-size: 24px; }
      .hotCity_ .hotCity-wra .flights .item:nth-child(4n+1) {
        margin-left: 0; }
